<h1> &gt; {{ .Title | markdownify }}</h1>

{{ .Content }}

<ul id="main-list">
    {{ $pages := .Pages }}
    {{ range (where $pages "Section" "!=" "") }}
    <dt class="main-list-item-header">
        &gt; <span class="main-list-title">
        <a target="_blank" href="{{ .Params.repo }}">
            {{ .Params.name }}</a>
        </span>

        {{ if (in .Params.repo "gitlab" ) }}
        <img class="img-16" src="/images/gitlab.png">
        {{ else if (in .Params.repo "github")}}
        <img class="img-16" src="/images/github.png">
        {{ end }}

        {{ if (in .Params.language "rust")}}
        <img class="img-16" src="/images/rust.png">
        {{ else if (in .Params.language "python")}}
        <img class="img-16" src="/images/python.png">
        {{ end }}
    </dt>
    <dd class="main-list-item-description">
        {{ .Content }}          
    </dd>
    {{ end }}
</ul>
