<h1> &gt; {{ .Title | markdownify }}</h1>

{{ .Content }}

<ul id="main-list">
    {{ $pages := .Pages }}
    {{ range (where $pages "Section" "!=" "") }}
    <dt class="main-list-item-header">
        &gt; <span class="main-list-title">
        <a target="_blank" href="{{ .Params.repo }}">
            {{ .Title }}</a>
        </span>

        {{ if (in .Params.repo "hackliza" ) }}
        <a href="https://hackliza.gal"><img class="img-16" src='{{ "/images/hackliza.png" | relURL }}'></a>
        {{ end }}

        {{ if (in .Params.repo "gitlab" ) }}
        <img class="img-16" src='{{ "/images/gitlab.png" | relURL }}'>
        {{ else if (in .Params.repo "github")}}
        <img class="img-16" src='{{ "/images/github.png" | relURL }}'>
        {{ end }}

        {{ if (in .Params.language "rust")}}
        <a href="https://www.rust-lang.org/"><img class="img-16" src='{{ "/images/rust.png" | relURL }}'></a>
        {{ else if (in .Params.language "python")}}
        <a href="https://www.python.org/"><img class="img-16" src='{{ "/images/python.png" | relURL }}'></a>
        {{ else if (in .Params.language "c")}}
        <img class="img-16" src='{{ "/images/c.png" | relURL }}'>
        {{ end }}
    </dt>
    <dd class="main-list-item-description">
        {{ .Content }}
    </dd>
    {{ end }}
</ul>
